manifest_version: 2
name: 'TrelloClip'
version: '1.0'
description: 'Copy Markdown link to current Trello card'
author: 'Jer Megel'
icons:
	48: 'images/trello.svg'
	96: 'images/trello.svg'
browser_action:
	default_icon: 'images/trello.svg'
permissions: [
	'clipboardWrite'
]
background:
	scripts: [
		'js/background/main.js'
	]
content_scripts: [
	{
		matches: [
			'*://*.trello.com/*'
		]
		js: [
			'js/content/trello/main.js'
		]
	}
]
commands:
	_execute_browser_action:
		suggested_key:
			default: 'Ctrl+Alt+M'
