manifest_version: 2
name: 'TrelloClip'
version: '1.0.2'
description: 'Copy Markdown link to current Trello card'
author: 'Jer Megel'
icons:
	96: 'images/trello/96.png'
page_action:
	default_icon:
		96: 'images/trello/96.png'
	default_title: 'Copy Markdown link to current Trello card'
	show_matches: [
		'*://*.trello.com/*'
	]
permissions: [
	'clipboardWrite'
	'declarativeContent'
]
background:
	scripts: [
		'js/lib/webextension-polyfill/browser-polyfill.js'
		'js/background/main.js'
	]
content_scripts: [
	{
		matches: [
			'*://*.trello.com/*'
		]
		js: [
			'js/lib/webextension-polyfill/browser-polyfill.js'
			'js/content/trello/main.js'
		]
	}
]
commands:
	_execute_page_action:
		suggested_key:
			default: 'Alt+Shift+M'
browser_specific_settings:
	gecko:
		id: 'trelloclip@jeremiahm.com'
